<div class="row">
  <div class="col">
    <p class="text-primary">Add New Servers or Blueprints!</p>
    <div class="form-group">
      <label for="name">Server Name</label>
      <!-- <input
        [(ngModel)]="newServerName"
        name="name"
        type="text"
        class="form-control"
      /> -->
      <input name="name" type="text" class="form-control" #serverNameInput />
    </div>
    <div class="form-group">
      <label for="content">Server Content</label>
      <!-- <input
        [(ngModel)]="newServerContent"
        name="content"
        type="text"
        class="form-control"
      /> -->
      <input
        name="content"
        type="text"
        class="form-control"
        #serverContentInput
      />
    </div>
    <br />
    <button (click)="onAddServer(serverNameInput)" class="btn btn-primary mr-2">
      Add Server
    </button>
    <button (click)="onAddBluePrint(serverNameInput)" class="btn btn-primary">
      Add Blueprint
    </button>
  </div>
</div>
