<div class="container">
  <div class="row mt-5">
    <div class="col">
      <hr />
      <p *ngIf="userActivated">Activated!</p>
      <hr />
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['user', 1]"
            >User 1</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['user', 2]"
            >User 2</a
          >
        </li>
      </ul>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
